<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Examples</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body >

  <div class="container">
    <div class="row">
      <!-- <style>
        .jumbo_bg{
         background: url('images/chicago-crime-scene-2015.jpg');
         background-position: center center;
         background-size: cover;
         height: auto /* or if you wish to give any height instead of auto use any px value like 150px;*/
        }
      </style> -->
      <div class="col-md-12">
        <div class= "jumbotron text-center">
          <h1 style="font-family:Alegreya, Tangerine, Ubuntu;">Chicago Crime Data Dashboard</h1>
          <p style="font-family:Alegreya, Tangerine, Ubuntu;color:orange; font-size:20px;">
            Use the interactive chart below to explore the crime dataset
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT Area:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample selected data</h3>
          </div>
          <!-- This comes from the app.py file line #67 using the id of sample-metadata -->
          <div id="sample-metadata" class="panel-body"></div>
          <!-- These 4 line is hard code as an example -->
          <input class="form-control input-sm" placeholder="Date: 1/11/2018">
          <input class="form-control input-sm" placeholder="Crime: Arson">
          <input class="form-control input-sm" placeholder="Area: Rogers Park">
          <input class="form-control input-sm" placeholder="Count: 5">
        </div>
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
